.title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: block;
    background-color: rgb(152, 255, 221);
    margin: 5% 10%;
    padding: 12px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 100px;
}

body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.recipe_list {
    display: flex;
    flex-basis: 50%;
    font-weight: bold;
    font-size: 16px;
}

.recipes-h2 h2 {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

h1, h2 {
    text-align: center;
}

img {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    background-color: rgb(255, 143, 199);
    font-weight: bold;
    font-size: 16px;
}

.recipe-title {
    display: block;
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-radius: 25px;
    margin: 5% 10%;
    text-decoration: underline;
}

.recipe-title img {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    margin: 24px auto;
    border-radius: 100px;
}

.recipe-desc {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    margin: 5% 10%;
    margin-top: -3%;
    border: 5px;
    border-style: solid;
    border-radius: 25px;
    font-size: 18px;
}

.about {
    padding-left: 18px;
    padding-right: 18px;
    display: block;
    margin: 8px;
    text-align: left;
}

.welcome p {
    display: inline-block;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
}

.page-heading h2 {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

p {
    display: flex;
    text-align: left;
    margin: 5% 10%;
}

ul, ol {
    display: block;
    margin: 5%;
}

li {
    padding-bottom: 2%;
}
