.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: block;
    background-color: aquamarine;
    margin: 5% 10%;
    padding: 12px;

}

body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.recipe_list {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

img {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}

button {
    display: block;
    padding: 8px;
    background-color: hotpink;
    margin: auto;
}


